* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #36454f;
}

nav {
    display: flex;
    width: 100%;
    z-index: 999999999199;
    height: 13vh;
    background-color: #0c090a;
}

nav .logo {
    z-index: 999999999199;
}

nav .logo img {
    width: 150px;
    height: 70px;
    padding-left: 10px;
    z-index: 999999999199;
    padding-top: 10px;
}

nav .icon-nav {
    display: flex;
    padding: 25px 10px;
    /* background-color: gray;/ */
}


/* .icon {
    visibility: hidden;
} */

.icon i {
    display: inline;
    padding: 10px 10px;
    border-radius: 4px;
    font-size: 23px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}

.icon i:hover {
    transform: scale(1.2);
    color: rgb(235, 186, 28);
    border: 1px solid black;
}

nav .nav-menu {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    /* padding-right: 15px; */
}

nav .nav-menu ul {
    display: flex;
    justify-content: flex-end;
}

nav .nav-menu ul li {
    padding: 18px 4px;
}

nav .nav-menu ul li a {
    list-style: none;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 10px;
    position: relative;
    transition: all 0.5s ease;
}

nav .nav-menu ul li a::after {
    content: "";
    width: 100%;
    height: 0px;
    background-color: white;
    position: absolute;
    left: -1px;
    transition: all 0.5s ease;
}

nav .nav-menu ul li a::before {
    content: "";
    width: 100%;
    height: 0px;
    background-color: white;
    position: absolute;
    left: -1px;
    top: 33px;
    transition: all 0.5s ease;
}

nav .nav-menu ul li a:hover:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: -1px;
}

nav .nav-menu ul li a:hover:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: -1px;
    top: 33px;
    font-weight: 700;
}

.nav-menu-1 {
    background-color: gray;
    width: 100%;
    height: 80%;
    visibility: hidden;
}

.nav-menu-1 ul li {
    padding: 10px 0px;
}

.nav-menu-1 ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    display: table;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    padding-bottom: 2px;
}

.nav-menu-1 ul li a::after {
    content: "";
    width: 100%;
    height: 0px;
    background-color: white;
    position: absolute;
    left: -1px;
    transition: all 0.5s ease;
}

.nav-menu-1 ul li a::before {
    content: "";
    width: 100%;
    height: 0px;
    background-color: white;
    position: absolute;
    left: -1px;
    top: 33px;
    transition: all 0.5s ease;
}

.nav-menu-1 ul li a:hover:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: -1px;
}

.nav-menu-1 ul li a:hover:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: -1px;
    top: 27px;
    font-weight: 700;
}

.icon-fot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 2px;
    transition: all 0.5s ease;
}

.icon-fot i {
    display: table;
    font-size: 30px;
    padding: 10px;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.icon-fot i:hover {
    color: rgb(207, 135, 27);
    border: 1px solid black;
}

.toggle-bar span:nth-child(1) {
    width: 35px;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 40px;
    border-radius: 3px;
}

.toggle-bar {
    position: absolute;
    top: -10px;
    right: 12%;
    visibility: hidden;
    z-index: 10000;
}

.toggle-bar span:nth-child(2) {
    width: 35px;
    height: 5px;
    background-color: white;
    position: absolute;
    border-radius: 3px;
    top: 50px;
}

.toggle-bar span:nth-child(3) {
    width: 35px;
    height: 5px;
    background-color: white;
    position: absolute;
    border-radius: 3px;
    top: 60px;
}

.banner {
    width: 100%;
    height: 70vh;
    opacity: 0.5;
}

.bte {
    text-transform: uppercase;
    position: absolute;
    color: black;
    top: 40%;
    padding: 5px 40px;
    opacity: 1;
}

.banner img {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    margin-top: 80px;
    display: table;
}

.bt button {
    border-radius: 2px;
    border: 2px solid white;
    padding: 7px 16px;
    background-color: #fd349c;
    opacity: 1;
    position: absolute;
    top: 450px;
    left: 50%;
    /* z-index: 100000; */
    transform: translate(-50%);
    /* z-index: -100000; */
}

.bt button::after {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: blue;
    left: 0px;
    top: 0;
    transition: all 0.3s ease;
}

.bt button:hover:after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: red;
    left: 0px;
    top: 0;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.bt button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: blue;
    right: 0px;
    top: 0;
    transition: all 0.3s ease;
}

.bt button:hover:before {
    content: "";
    width: 50%;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    background-color: red;
    right: 0px;
    top: 0;
    transition: all 0.3s ease;
}


/* tem section  */

#team {
    background-color: #52595d;
    margin-top: -450px;
}

.tex {
    color: #fd349c;
    padding: 15px 0px;
}

.google {
    display: flex;
    color: white;
}

.google h4 {
    padding-top: 55px;
}

.google img {
    width: 35%;
}

.rating {
    display: flex;
    margin-top: -40px;
    padding: 10px;
}

.rating i {
    margin-left: 8px;
    color: rgb(202, 202, 3);
    padding-top: 5px;
}

.fe {
    padding-left: 10px;
}

.rating-b {
    padding-top: 60px;
}

.rating-b p {
    color: white;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.rating-b p:hover {
    background-color: #fd349c;
}

.good {
    background-color: #301934;
    border-radius: 5px;
}

.card-1 {
    /* border: 1px solid black; */
    background-color: #454545;
    border-radius: 8px;
    width: auto;
}

.mse {
    margin-bottom: 10px;
}

.box {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: blueviolet;
    margin-left: 10px;
    margin-top: 10px;
}

.box h1 {
    color: #fd349c;
    padding-left: 16px;
}

.card-1 div {
    display: flex;
    /* z-index: -100000; */
}

.card-1 div div {
    display: flex;
    flex-direction: column;
}

.card-1 div div div {
    display: flex;
    flex-direction: row;
    color: gold;
}

.name h6 {
    color: white;
    padding-left: 15px;
    padding-top: 10px;
}

.name-tex {
    color: white;
    padding: 8px;
}

.customer-img div img {
    width: 20px;
    padding-left: 20px;
    /* background-color: red; */
}

#c-i {
    width: 110px;
}

.support {
    padding: 8px;
    display: table;
}

.support .text-danger {
    margin-top: -20px;
}

.b-1 .box {
    background-color: blue;
}

.b-1 .box h1 {
    color: rgb(43, 230, 99);
}

.b-2 .box {
    background-color: green;
}

.b-2 .box h1 {
    color: coral;
}

.b-3 .box {
    background-color: #fd349c;
}

.b-3 .box h1 {
    color: black;
}

.b-2 .box h1 {
    margin-left: -3px;
    color: red;
}


/* button option after card  */

.btt button {
    border-radius: 2px;
    border: 2px solid white;
    padding: 7px 16px;
    background-color: #fd349c;
    opacity: 1;
    position: relative;
    margin-top: 20px;
    /* z-index: -100000; */
}

.btt button::after {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: blue;
    left: 0px;
    top: 0;
    transition: all 0.3s ease;
}

.btt button:hover:after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: red;
    left: 0px;
    top: 0;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.btt button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: blue;
    right: 0px;
    top: 0;
    transition: all 0.3s ease;
}

.btt button:hover:before {
    content: "";
    width: 50%;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    background-color: red;
    right: 0px;
    top: 0;
    transition: all 0.3s ease;
}

.section-img div img {
    height: 80vh;
}

.web {
    margin-top: -15px;
}

.tex-2 h1 {
    letter-spacing: -0.2rem;
}

.card-box {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #343434;
    margin-top: 10px;
    transition: all 0.5s ease;
}

.card-box:hover {
    background-color: #ec69ad;
}

.card-box:hover.card-box i {
    color: #36454f;
}

.lap {
    padding: 0px 30px;
}

.lap h4 {
    color: #fd349c;
    transition: all 0.4s ease;
}

.card-box:hover .lap h4 {
    color: #77bfc7;
}

.lap i {
    font-size: 75px;
    padding: 20px 0px;
    color: white;
    transition: all 0.3s ease;
}

.text-p p {
    text-align: justify;
    text-indent: 25px;
    padding: 0px 10px;
}

.contact p {
    color: white;
    padding-top: 65px;
    font-size: 25px;
}

.contact i {
    color: #fd349c;
    font-size: 30px;
    padding: 17px 10px;
}

.contact {
    position: relative;
}

.contact::after {
    content: "";
    width: 92%;
    height: 3px;
    background-color: #6495ed;
    position: absolute;
    left: 4%;
    top: 120px;
}

.contact::before {
    content: "";
    width: 92%;
    height: 3px;
    background-color: #6495ed;
    position: absolute;
    left: 4%;
    top: 72px;
}

.pp h3 {
    letter-spacing: -0.05rem;
    font-size: 20px;
    word-spacing: 6px;
    padding: 10px;
}

.pp i {
    font-size: 30px;
    padding-right: 12px;
    padding-top: 10px;
    color: white;
}

.pp h3:last-child {
    font-size: 16px;
    margin-top: -10px;
}


/* #fr {
    background-color: #838996;
    padding: 15px 30px;
} */

.fr {
    background-color: #838996;
    padding: 15px 30px;
    border-radius: 8px;
}

.f-name label {
    font-size: 21px;
    font-family: sans-serif;
    color: goldenrod;
    font-weight: bold;
}

.f-name input {
    width: 90%;
    padding: 6px;
    border-radius: 4px;
}

.ms label {
    font-size: 21px;
    font-family: sans-serif;
    color: goldenrod;
    font-weight: bold;
}

textarea {
    margin: 0;
    padding: 0;
    width: 60%;
}

.fer {
    width: 150%;
    height: 20vh;
    padding: 10px;
}

.ppe p {
    text-indent: 30px;
    text-align: justify;
    padding: 2px 10px;
    font-family: sans-serif;
}

.tp {
    background-color: #36454f;
    border-radius: 10px;
}

.pmt a {
    display: table;
    padding-top: -10px;
}

.pmt p {
    margin-top: -15px;
}

.jt {
    background-color: #454545;
}

.ff {
    display: inline-block;
    margin-top: -10px;
}

.aa {
    margin-top: -17px;
    display: inline-block;
    padding-left: 10px;
}

.jjp {
    width: 50px;
    height: 50px;
    background-color: red;
}

.jjp h1 {
    color: royalblue;
}

.kkt {
    background-color: #6495ed;
}

.bbw {
    border-radius: 10px;
    background-color: #0c090a;
    padding-bottom: 15px;
}

.bbw h4 {
    margin-top: -40px;
}

.box-modal {
    margin-left: 30%;
}

.boX {
    width: 150px;
    height: 150px;
    cursor: pointer;
    /* background-color: red; */
}

#mag {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px #36454f;
    border-radius: 10px;
}


/* owl carousel part start  */


/* .owl-dots {
    text-align: center;
    margin-left: 40px;
}

.owl-dot {
    height: 10px;
    width: 30px;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 5px;
    outline: non;
    border: 2px solid red !important;
    transition: all 0.5s ease;
}

.owl-dot:hover,
.owl-dot.active {
    background-color: #52595d !important;
} */


/* owl end  */

@media screen and (max-width: 912px) and (min-width: 481px) {
    .contact::after {
        content: "";
        width: 92%;
        height: 3px;
        background-color: #6495ed;
        position: absolute;
        left: 4%;
        top: 120px;
    }
    .logo img {
        width: 120px;
        height: 60px;
    }
    nav {
        height: 8vh;
    }
    .nav-menu-1 {
        height: 515px;
        /* margin-top: 20px; */
        padding-top: 3px;
    }
    .contact::after {
        content: "";
        width: 92%;
        height: 3px;
        background-color: #6495ed;
        position: absolute;
        left: 4%;
        top: 120px;
    }
}

@media screen and (max-width: 1080px) {
    nav {
        width: 100%;
        z-index: 999999999999999999919;
    }
    .fer {
        width: 95%;
    }
    .nav-menu {
        visibility: hidden;
    }
    .nav-menu-1 {
        visibility: visible;
        transform: translateY(-1410px);
        transition: all 0.7s ease;
        /* z-index: -9999; */
        position: absolute;
        top: 82px;
        position: fixed;
        z-index: 9999999999999999;
    }
    .icon {
        visibility: hidden;
    }
    .toggle-bar {
        visibility: visible;
        position: fixed;
    }
    .bte {
        text-transform: uppercase;
        position: absolute;
        color: black;
        top: 30%;
        padding: 5px 40px;
        opacity: 1;
    }
    #team {
        background-color: #343434;
        margin-top: 65px;
    }
    .google h4 {
        padding-top: 25px;
    }
    .rating-b {
        padding-top: 30px;
    }
    .box h1 {
        color: #fd349c;
        padding-left: 18px;
        padding-top: 10px;
    }
    .section-img div img {
        height: 40vh;
    }
    .contact::after {
        content: "";
        width: 92%;
        height: 3px;
        background-color: #6495ed;
        position: absolute;
        left: 4%;
        top: 220px;
    }
    .f-name input {
        width: 100%;
        padding: 6px;
        border-radius: 4px;
    }
    .reviews {
        margin-top: -23px;
    }
}